@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <a asp-page="./Index" asp-route-id="1">Get my device data</a>
    <canvas id="myChart" width="400" height="400"></canvas>
    <script>
        var modelData = @Html.Raw(Model.Data);
    </script>
</div>

