@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <a asp-page="./Index" asp-route-id="1">Get my device data</a>
    <div class="chart-container" style="position:relative;height:50vh;width:100%">
        <canvas id="myChart"></canvas>
    </div>
    
    <script>
        var modelData = @Html.Raw(Model.Data);
    </script>
</div>

