@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
@* <h1>@ViewData["Title"]</h1> *@

<div id="list"></div>
<div>
    <button style='font-size:24px' onclick="addToList()">Paina tästä</button>
    <button style='font-size:24px' onclick="clearList()">Tyhjennä</button>
</div>


<script>
    function addToList(){
        var json = localStorage.getItem("timelist");
        var listItems = json ? JSON.parse(json) : [];
        var now = moment();
        
        if(!listItems.length){
            $("#list").append("<p style='font-size:20px'>aika: " + now.format("HH:mm") + "<p>");
        }
        else{
            $("#list").append("<p style='font-size:20px'>aika: " + now.format("HH:mm") + " (" + moment(listItems[listItems.length - 1]).from(now) + ")" + "<p>");
        }
        listItems.push(now);
        localStorage.setItem("timelist", JSON.stringify(listItems));
    }

    function clearList(){
        localStorage.setItem("timelist", "");
        $("#list").empty();
    }
</script>
