@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
@* <h1>@ViewData["Title"]</h1> *@

<div id="list"></div>
<div>
    <button style='font-size:24px' onclick="addToList()">Paina tästä</button>
    <button style='font-size:24px' onclick="clearList()">Tyhjennä</button>
</div>


<script>
    var initialJson = localStorage.getItem("timelist");
    var initialItems = initialJson ? JSON.parse(initialJson) : [];
    
    if(initialItems.length){
        $("#list").append("<p style='font-size:18px'>" + moment(initialItems[0]).format("DD.MM.YYYY HH:mm") + "<p>");
        let prev = initialItems[0];
        let skipFirst = true;
        initialItems.forEach(v => {
            if(skipFirst){
                skipFirst = false;
            }else{
                $("#list").append("<p style='font-size:18px'>" + moment(v).format("DD.MM.YYYY HH:mm") + " (" + moment(prev).from(v) + ")" + "<p>");
                prev = v;
            }
        });
    }
    
    function addToList(){
        var json = localStorage.getItem("timelist");
        var listItems = json ? JSON.parse(json) : [];
        var now = moment();
        
        if(!listItems.length){
            $("#list").append("<p style='font-size:18px'>" + now.format("DD.MM.YYYY HH:mm") + "<p>");
        }
        else{
            $("#list").append("<p style='font-size:18px'>" + now.format("DD.MM.YYYY HH:mm") + " (" + moment(listItems[listItems.length - 1]).from(now) + ")" + "<p>");
        }
        listItems.push(now);
        localStorage.setItem("timelist", JSON.stringify(listItems));
    }

    function clearList(){
        localStorage.setItem("timelist", "");
        $("#list").empty();
    }
</script>
