@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
@* <h1>@ViewData["Title"]</h1> *@

<div id="list"></div>
<button style='font-size:24px' onclick="addToList()">Paina tästä</button>

<script>
    var listItems;
    function addToList(){
        var now = moment();
        
        listItems = listItems || [];
        if(!listItems.length){
            $("#list").append("<p style='font-size:28px'>aika: " + now.format("HH:mm") + "<p>");
        }
        else{
            $("#list").append("<p style='font-size:28px'>aika: " + now.format("HH:mm") + " (" + listItems[listItems.length - 1].from(now) + ")" + "<p>");
        }
        listItems.push(now);
    }
</script>
